services:
  # The One & Only "HIUMAN" Server
  - type: web
    name: hiuman-monolith
    runtime: docker
    plan: free
    dockerfilePath: Dockerfile
    dockerContext: .
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
      - key: DB_PORT
        sync: false
      # Frontend needs to know where API is (Same Host)
      - key: VITE_API_URL
        value: /api
      - key: VITE_SIGNAL_URL
        value: /
